@import "tailwindcss";

:root {
  --yellow: #fc3;
  --blue: #165a9b;
  --grey: #3b3b3b;
  --light-grey: #525252;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
}
